# SPDX-FileCopyrightText: Copyright (c) 2020-2026 Objectionary
# SPDX-License-Identifier: MIT

*.eoc/
*.iml
.classpath
.claude/
.DS_Store
.idea/
.mvn/wrapper/maven-wrapper.jar
.project
.recommenders
.settings
.vscode/
node_modules/
target/
targets/
tmp/
